<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./home.css" />
    <title>Issue Tracker - Home</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">List of Projects</h1>
      <div class="project-table-list">
        <table>
          <thead>
            <tr>
              <th>Project Name</th>
              <th>Description</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            <% projects.forEach(project => { %>
              <tr>
                <th><a href="/projects/<%= project.id %>"><%= project.name %></a></th>
                <th><%= project.description %></th>
                <th><%= project.author %></th>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="new-project">
          <a href="/projects/create" >Create New Project</a>
      </div>
    </div>
  </body>
</html>
